;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Tue Oct 30 17:15:22 2012
;; Desktop file format version 206
;; Emacs version 23.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring '("deletecoursed" "csc" "deletecoursedcode" "deletede" "deletedep" "insertstudent" "isinsert" "insertstudent" "listcourses" "postgres" "goto lin" "getstudentinfo"))
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("~/csc343/a2/a2tables" "~/csc343/a2/a2drop" "~/csc343/a2/runa2" "~/csc343/a2/JDBCExample.java" "~/csc343/a2/Assignment2.java~" "~/csc343/a2/notes.txt" "~/csc343/a2/A2.ddl" "~/csc343/a2/test_values.sql" "~/csc343/a2/test.sql" "~/csc343/a2/a2sql" "~/.emacs"))

;; Buffer section -- buffers listed in same order as in buffer list:
